<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Labeling Tasks</title>

  <%- include("../partials/styles.ejs") %>

</head>
<body>

  <header class="bg-light border-bottom">
    <nav class="navbar px-3">
      <h4>Labeling Tasks</h4>
    </nav>
  </header>

  <main class="container-fluid">
    <aside class="float-sm-end p-3 border-start col-2 sticky-top" style="overflow-y: scroll; height: 100vh;">
      <div class="d-flex justify-content-between">
        <h4>Pendings</h4>
        <h4 id="pendingCount"></h4>
      </div>
      <div id="pendings"></div>
    </aside>

    <aside class="float-sm-start p-3 border-end col-2 sticky-top" style="overflow-y: scroll; height: 100vh;">
      <h2>Task Details</h2>

      <div class="mt-4">
        <small class="text-secondary">Task ID</small>
        <p id="taskId"></p>
      </div>
      <div>
        <small class="text-secondary">Title</small>
        <p id="title"></p>
      </div>
      <div>
        <small class="text-secondary">Description</small>
        <p id="description"></p>
      </div>
      <div>
        <small class="text-secondary">Labels (Options)</small>
        <ul id="labels" class="list-group"></ul>
      </div>
      <div class="mt-3">
        <small class="text-secondary">Status</small>
        <p id="status"></p>
      </div>

      <div class="mt-3">
        <small class="text-secondary">Actions</small>
        <div class="btn-group-vertical w-100">
          <!-- <button id="reportButton" class="btn btn-warning">Report</button> -->
          <button id="submitButton" class="btn btn-success">Submit</button>
        </div>
      </div>
    </aside>

    <section class="col-8 mx-auto bg-light" style="height: 100vh;">
      <div class="container-fluid p-3">
        <div class="col-3 float-sm-end p-4 sticky-top">
          <small class="text-secondary">Labels (Options)</small>
          <div id="labelsContainer" class="mt-3" role="group"></div>
        </div>
        <div class="col-9">
          <div class="d-flex">
            <div>
              <small class="text-secondary">Image ID</small>
              <p id="activeImageId"></p>
            </div>
            <div class="mx-5">
              <small class="text-secondary">Name</small>
              <p id="activeImageName"></p>
            </div>
          </div>
          <div>
            <div>
              <small class="text-secondary text-wrap">Path</small>
              <p id="activeImagePath"></p>
            </div>
          </div>
          <img id="activeImage">
        </div>
        <div class="my-3 col-12">
          <ul class="pagination" id="imagePagination">
          </ul>
        </div>
      </div>
    </section>

  </main>

<script src="/public/js/modules/pagination.js"></script>
<script src="/public/js/modules/validator.js"></script>
<script src="/public/js/modules/nodes.js"></script>
<script src="/public/js/labeling/index.js"></script>
</body>
</html>